[project]
	description = "Write C# apps with a text editor, nuget and the power of Roslyn!"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ronan Feely (rfeely)
[access "refs/for/refs/*"]
	read = group user/Ronan Feely (rfeely)
	push = group user/Ronan Feely (rfeely)
	label-Code-Review = -2..+2 group user/Ronan Feely (rfeely)
	label-Verified = -1..+1 group user/Ronan Feely (rfeely)
	rebase = group user/Ronan Feely (rfeely)
	removeReviewer = group user/Ronan Feely (rfeely)
	submit = group user/Ronan Feely (rfeely)
[access "refs/heads/*"]
	read = group user/Ronan Feely (rfeely)
	create = group user/Ronan Feely (rfeely)
	push = +force group user/Ronan Feely (rfeely)
	pushMerge = group user/Ronan Feely (rfeely)
[access "refs/tags/*"]
	push = group user/Ronan Feely (rfeely)
	push = +force group user/Ronan Feely (rfeely)
